.title {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 3vh;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar {
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(27, 27, 27);
    opacity: 0.85;
    color: white;
    position: fixed;
    width: 90vw;
    text-align: center;
    border-radius: 10px;
    margin-top: 0.5vh;
    font-size: large;
    display: flex;
    justify-content: space-around;
    transition: opacity 300ms linear, background-color 300ms linear;
    /*{| transition: top 300ms ease-out; |}*/
}

.navbar > div > p > a {
    color: white;
}







.noJs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    /*
    display: flex;
    align-items: center;
    justify-content: space-around;
    */

    background-color: white;
    z-index: 10000;


    font-size: 2.5vmax;
    font-family: 'Noto Sans JP';
}

body  {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}