body {
    margin: 0;
    overflow: hidden;
}
.border {
    position: fixed;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    left: 0;
    width: 100vw;
    height: 7vh;
    background-color: rgb(54, 54, 54);
}
.border > div {
    display: flex;
    justify-content: space-around;
}
.border > div > div {
    width: 90vw;
    display: flex;
    justify-content: space-around;
}
.border a, .border p {
    text-decoration: none;
    color: white;
    font-family: 'Recursive';
    font-size: 2vmax;
}
.border p {
    cursor: default;
}
.header {
    top: 0;
}
.forumLogo {
    bottom: 0;
    pointer-events: none;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 7vh;

    display: flex;
    justify-content: space-around;

    height: 86vh;
    width: 15vw;

    background-color: rgb(145, 145, 145);
}
.sidebar > div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.sidebar a {

    margin-top: 3vh;
    margin-bottom: 3vh;

    text-decoration: none;
    font-family: 'Recursive';
    font-size: 1.5vmax;
    color: black;
}
.messageIcon {

    position: fixed;
    left: 19vw;
    top: 14vh;

    z-index: 100;

    width: 7vmin;
    height: 7vmin;

    border-radius: 50%;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.message {

    position: fixed;
    left: calc(20vw + 1.5vmin);
    top: calc(15vh + 1.5vmin);

    z-index: 0;

    width: 70vw;
    height: 60vh;

    border: solid 1px black;

    padding: 3vmin;

    font-family: 'Recursive';
    font-size: 2vmax;

}
.message div {
    margin: 0;
    width: fit-content;
    display: initial;
}
.line {
    text-decoration: line-through;
}
.background {
    background-color: rgb(229, 229, 229);
}
.message a {
    text-decoration: underline;
    color: rgb(0, 176, 244);
}