body {
    margin: 0;
    overflow: hidden;
}

#border {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40vw;
    height: 60vh;

    z-index: 9;

    border-radius: 40px;

    border: 2px solid black;
    background-color: white;
}

input {
    
    position: relative;

    width: 20vw;
    height: 4vh;

    font-family: 'Roboto';
    font-size: 1vmax;

    left: 50%;
    transform: translateX(-50%);

}

#email {top: 20vh;}
#password {top: 30vh;}

.inputType {

    width: fit-content;
    height: fit-content;

    position: fixed;

    z-index: 10;

    font-family: 'Recursive';
    font-size: 1vmax;

    transform: translate(-50%, -50%);

}

.email {
    left: calc(50% - 10vw + 1.2vw);
    top: calc(50% - 30vh + 20vh - 1vh);
}

.password {
    left: calc(50% - 10vw + 2.3vw);
    top: calc(50% - 30vh + 35vh - 1.7vh);
}

#response {

    position: fixed;

    left: calc(50%);
    top: calc(50% + 14vh);

    transform: translate(-50%, -50%);

    z-index: 10;

    font-family: 'Recursive';
    font-size: 1vmax;
    color: red;
}

.login {

    z-index: 10;

    position: fixed;

    left: calc(50%);
    top: calc(50% - 22vh);
    transform: translate(-50%, -50%);

    font-family: 'Recursive';
    font-size: 5vmax;
}

.register {

    position: fixed;

    left: calc(50%);
    top: calc(50% + 22vh);
    transform: translate(-50%, -50%);

    font-family: 'Recursive';
    font-size: 2vmax;

    z-index: 100;

    color: rgb(0, 176, 244);
    width: fit-content;
    height: fit-content;

}

#passwordShow {

    position: fixed;

    cursor: pointer;
    z-index: 100;

    top: 55vh;
    left: calc(50% + 11.5vw);
    transform: translateX(-50%);

    width: 2vmax;
    height: 2vmax;

    background-image: url('../pics/Eye.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
}

#iframe {

    margin: 0;
    border: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    pointer-events: none;
    user-select: none;
    
    z-index: 0;

}

#iframeShade {

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.76)

}

.loginButton {

    font-family: 'Recursive';
    font-size: 1vmax;

    border-radius: 5px;
    padding: 0.2vmax;
    color: white;

    cursor: pointer;

    display: flex;
    justify-content: space-around;

}

#normalLogin {
    background-color: rgb(133, 133, 133);
}

#discordLogin {
    background-color: #7289DA;
}

#discordLogin > div {
    background-image: url('../pics/Discord-Logo-White.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
    
    width: 1.4vmax;
    height: 1.4vmax;

    margin: 0;
    padding: 0;

    display: inline-block;
}

.loginBetween {
    font-family: 'Recursive';
    font-size: 0.8vmax;
    
    margin: 0;
    padding: 0;
}

.loginWrapper {

    position: fixed;
    width: 16vw;
    height: fit-content;

    left: 50%;
    transform: translateX(-50%);

    z-index: 10;
    top: 60vh;

    display: flex;
    justify-content: space-between;

}

#staffInfo {
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-around;

    z-index: 10000000;
    pointer-events: none;
}

#staffInfo > div {
    width: fit-content;
    height: 100%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    z-index: 10000000;
    pointer-events: none;
}

#staffInfo > div > div {
    width: 80vw;
    height: 80vh;

    background-color: white;
    border-radius: 10px;

    z-index: 10000000;
    pointer-events: all;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#staffInfo p {

    font-family: 'Roboto';
    font-size: 4vmax;

    text-align: center;
}

.staffInfoText {
    margin-top: 3vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 0;
}

.staffLoginButton {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-around;

    margin-bottom: 6vw;
}

.staffLoginButton > div {
    width: fit-content;
    height: fit-content;

    background-color: rgb(156, 156, 156);
    padding: 0.8vmax;
    border-radius: 30px;

    cursor: pointer;
    user-select: none;
}

.staffLoginButton p {
    margin: 0;
}