body {
    margin: 0;
}

.border textarea {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 1vmin;

    font-family: 'Roboto Mono';
    font-size: 2vmax;

    resize: none;

    width: 80vw;
    height: 55vh;

    margin-top: 5vh;

    border-radius: 5px;
    border: 1vmax solid rgb(26, 26, 26);
}

#count {
    position: fixed;
    left: calc(50% + 37vw - 1vmax);
    top: calc(50% + 33vh - 1vmax);
    transform: translate(-50%, -50%);

    font-family: 'Roboto Mono';
    font-size: 1vmax;
    
    pointer-events: none;

}

::selection {
    background: rgb(51, 144, 255);
    color: white;
}

.triangle {
    width: 0;
    height: 0;
    
    z-index: 10;

	border-left: 2vmax solid transparent;
	border-right: 2vmax solid transparent;
	border-top: 4vmax solid rgb(26, 26, 26);
}

.box {

    position: relative;
    top: calc(-4vmax - 3vmax - 3px);
    left: calc(-50% + 2vmax);

    font-family: 'Roboto Mono';
    font-size: 2.4vmax;

    cursor: pointer;
    pointer-events: initial;
    user-select: none;

    height: 3vmax;

    display: flex;
    justify-content: space-around;

    background-color: white;

    border-radius: 5px;
    border: 3px solid rgb(26, 26, 26);
}

#toolTip {
    position: fixed;
    pointer-events: none;

    transition: 1s ease;

    z-index: 10000;
}

#url input {

    font-family: 'Roboto Mono';
    font-size: 1vmax;

    position: relative;

    border: none;
    background-color: transparent;

    top: -0.8vmax;
    left: 0;

    width: 28vw;
    height: 2.4vmax;
}

#url input:focus {
    outline: none;
}

#post {

    width: 15vw;
    height: 15vh;

    font-family: 'Roboto Mono';
    font-size: 5.5vmax;

    background-color: transparent;
    border: none;
    outline: none;

    margin-top: 5vh;

    cursor: pointer;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

#tagg {
    position: fixed;
    left: 8vw;
    top: 10vh;

    width: 16vw;

    font-family: 'Roboto Mono';
    font-size: 2vmax;

    display: flex;
    justify-content: space-between;

    z-index: 1000;
}

#tagg > div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#tagg > p {
    pointer-events: none;
    margin: 0;
}

#dropdown-button {
    width: 9vw;
    height: 5vh;
    border: 1px solid rgb(104, 104, 104);
    background-color: rgb(170, 170, 170);
}

#dropdown-button:hover {
    background-color: rgb(133, 133, 133);
}

#dropdown-content {
    justify-content: flex-start;
    flex-direction: column;
    display: none;
}

#dropdown-content > div {
    cursor: pointer;
    background-color: rgb(170, 170, 170);
}

#dropdown-content > div:hover {
    background-color: rgb(133, 133, 133);
}

#allowReactions {
    --checkbox-size: 2vmax;
}

#allowReactions > input {

    position: fixed;
    left: calc(24vw + (var(--checkbox-size) / 2));
    top: calc(10vh + (5vh / 2) - (var(--checkbox-size) / 2));

    margin: 0;

    width: var(--checkbox-size);
    height: var(--checkbox-size);

    cursor: pointer;
}

#allowReactions > p {

    position: fixed;
    left: calc(24vw + (var(--checkbox-size) / 2) + var(--checkbox-size) + 0.5vw);
    top: calc(10vh + (5vh / 2) - (var(--checkbox-size) / 2));

    font-family: 'Roboto Mono';
    font-size: 1.5vmax;

    margin: 0;
}