body {
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.line {
    text-decoration: line-through;
}
.background {
    background-color: rgb(229, 229, 229);
}
.message a {
    text-decoration: underline;
    color: rgb(0, 176, 244);
}
.message div {
    margin: 0;
    width: fit-content;
    display: initial;
}
.message {

    width: 90vw;
    height: 55vh;

    border: 4px solid black;
    border-radius: 6px;

    font-family: 'Recursive';
    font-size: 2vmax;

    padding-top: 1vh;
    padding-left: 1vw;
    padding-bottom: 1vh;
    padding-right: 1vw;

    margin-top: 5vh;

}

.container {

    width: 100vw;

    display: flex;
    justify-content: space-around;
}

#userIcon {
    width: var(--size);
    height: var(--size);

    --size: 4vmax;

    border-radius: 50%;

    position: fixed;

    background-color: white;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

#taggElement {
    position: fixed;
    top: 0;
    background-color: rgb(255, 149, 0);

    padding: 0.5vmin;
    border-radius: 5px;

}

#taggElement > p {
    margin: 0;
    font-family: 'Alata';
}

#dateElement {
    position: fixed;
    height: 3vh;

    background-color: white;
    border: 4px solid black;
    border-radius: 6px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    padding-left: 0.5vw;
    padding-right: 0.5vw;

}

#dateElement p {
    margin: 0;
    font-family: 'Alata';
}

.betweenLine {
    width: 100vw;
    height: 1vh;
    background-color: rgb(138, 138, 138);

    margin-top: 1vh;
    margin-bottom: 4vh;
}


#reactionContainer {
    width: 100vw;
    height: fit-content;

    display: flex;
    justify-content: space-around;
}
#reactionContainer > div{

    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#reactionContainer a {
    text-decoration: underline;
    color: rgb(0, 176, 244);
}
#reactionContainer p > div {
    margin: 0;
    width: fit-content;
    display: initial;
}
#reactionContainer > div > div > p {
    font-family: 'Recursive';
    font-size: 2vmax;
    margin: 0;
}
#reactionContainer > div > div {
    border: 4px solid black;
    border-radius: 6px;

    padding-top: 1vh;
    padding-left: 1vw;
    padding-bottom: 1vh;
    padding-right: 1vw;

    width: 80vw;
    min-height: 20vh;
    height: fit-content;

    margin-bottom: 4vh;

}

.reactionUserIcon {

    --size: 3vmax;

    position: relative;
    top: calc(-1vh - (var(--size) / 2));
    left: calc(-1vw - (var(--size) / 2));

    width: var(--size);
    height: var(--size);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 

    background-color: white;
    border-radius: 50%;

    margin-bottom: calc(var(--size) * -1);
}

.reactionDate {

    position: relative;
    top: -3.25vh;
    left: 1.5vw;

    margin-bottom: -3vh;

    height: 3vh;
    width: fit-content;

    background-color: white;
    border: 4px solid black;
    border-radius: 6px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.reactionDate > p {
    font-size: 1vmax;
    font-family: 'Alata';
}

.delebuttonContainer {
    position: relative;
    top: -3.5vh;
    left: 1.25vw;

    margin-bottom: -3vh;

    height: 3vh;
    width: 82vw;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.delebuttonContainer > div {
    height: fit-content;
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.delebuttonContainer > div > div {
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    cursor: pointer;

    width: 4vmax;
    height: 4vmax;

    display: flex;
    justify-content: space-around;
}

.delebuttonContainer > div > div > div {
    width: fit-content;
    height: 100%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.deleteImage {
    background-image: url('/pics/Delete_Icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 

    width: 2.5vmax;
    height: 2.5vmax;
}

.delebuttonContainer p {
    margin: 0;
}

.makeReaction {
    width: 100vw;
    height: 50vh;
    border-top: 3px solid rgb(138, 138, 138);

    display: flex;
    justify-content: space-around;

}

.makeReaction > div {

    width: fit-content;
    height: 50vh;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.makeReaction > div > textarea {
    --padding-right: 10vw;

    width: calc(80vw - var(--padding-right));
    height: 40vh;
    
    border: 3px solid rgb(83, 83, 83);
    border-radius: 5px;

    font-family: 'Recursive';
    font-size: 2vmax;

    padding: 0.5vmax;
    padding-right: var(--padding-right);

    resize: none;
}

#count {
    position: fixed;

    font-family: 'Roboto Mono';
    font-size: 2vmax;

    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 10px;
}

#makeReaction::selection {
    background: rgb(51, 144, 255);
    color: white;
}

.triangle {
    width: 0;
    height: 0;
    
    z-index: 10;

	border-left: 2vmax solid transparent;
	border-right: 2vmax solid transparent;
	border-top: 4vmax solid rgb(26, 26, 26);
}

.box {

    position: relative;
    top: calc(-4vmax - 3vmax - 3px);
    left: calc(-50% + 2vmax);

    font-family: 'Roboto Mono';
    font-size: 2.4vmax;

    cursor: pointer;
    pointer-events: initial;
    user-select: none;

    height: 3vmax;

    display: flex;
    justify-content: space-around;

    background-color: white;

    border-radius: 5px;
    border: 3px solid rgb(26, 26, 26);
}

#toolTip {
    position: fixed;
    pointer-events: none;

    transition: 1s ease;
}

#url input {

    font-family: 'Roboto Mono';
    font-size: 1vmax;

    position: relative;

    border: none;
    background-color: transparent;

    top: -0.8vmax;
    left: 0;

    width: 28vw;
    height: 2.4vmax;
}

#url input:focus {
    outline: none;
}

#loginToReact p {
    font-family: 'Recursive';
    font-size: 3vmax;

    margin: 0;
}

#loginToReact > div {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;

    margin-right: 0.5vw;
}
.loginButton {
    font-family: 'Recursive';
    font-size: 3vmax;

    border-radius: 5px;
    padding: 0.2vmax;
    color: white;

    cursor: pointer;

    display: inline-flex;
    justify-content: space-around;
    background-color: rgb(133, 133, 133);

}

#loginToReact {
    display: flex;
    justify-content: start;

    cursor: pointer;
}

#noReact {
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 100%;

    cursor: default;
    pointer-events: none;
    user-select: none;
}

#noReact > div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    height: 100%;
}

#noReact p {
    font-family: 'Recursive';
    font-size: 5vmax;

    margin: 0;
}

#postReaction {
    position: fixed;

    display: inline-block;
    background-color: rgb(48, 48, 48);

    padding: 0.2vmax;
    border-radius: 5px;

    cursor: pointer;
}

#postReaction > p {
    margin: 0;
    color: white;

    font-family: 'Alata';
    font-family: 1vmax;
}

#overlay > div > p {
    font-family: 'Roboto';
    font-size: 20vmax;

    margin: 0;
    display: inline-block;
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    z-index: 100000;

    background-color: white;

    display: flex;
    justify-content: space-around;

    cursor: wait;
    user-select: none;
}

#overlay > div {
    height: 100vh;
    width: fit-content;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#closeOrOpenPost > div > p {
    display: inline-block;
    font-family: 'Roboto';
    margin: 0;
}

#closeOrOpenPost > div {
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: fit-content;
}

#closeOrOpenPost {
    position: fixed;

    width: fit-content;
    height: fit-content;

    user-select: none;
    cursor: pointer;

    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

#deleteButton {
    width: 4vmax;
    height: 4vmax;

    background-color: red;
    border-radius: 10px;

    position: fixed;

    display: flex;
    justify-content: space-around;

    cursor: pointer;
}

#deleteButton > div {
    width: fit-content;
    height: 100%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#deleteButton > div > div {
    background-image: url('/pics/Delete_Icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 

    width: 2.5vmax;
    height: 2.5vmax;
}