body {
    margin: 0;
    overflow: hidden;
}

.background {

    z-index: -1;
    
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgb(19, 19, 19);

}

#edit {

    display: inline-block;
    position: fixed;

    z-index: 0;

    width: calc(100vw * var(--size));
    height: calc(100vh * var(--size));

    border: none;

}