body {
    margin: 0;
}

.staffLogin {
    cursor: pointer;
    font-family: 'Lato';
    margin-left: 1vw;
    margin-top: 10vh;
    font-size: 1vmax;
}

h1 {
    font-family: 'Lato';
    margin-left: 0.5vw;
    font-size: 4vmax;
    margin-left: 2vw;
    margin-top: 8vh;
    margin-bottom: 0;
}

.navbar {
    background-color: rgba(27, 27, 27, 0.685);
    color: white;
    position: fixed;
    width: 90vw;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    margin-top: 0.5vh;
    font-size: large;
    display: flex;
    justify-content: space-around;
    /*{| transition: top 300ms ease-out; |}*/
}

.navbar > div > p {
    font-family: 'Ubuntu';
    font-size: 2.5vmin;
}

.title {
    background-color: rgb(27, 27, 27);
    color: white;
    margin: 0;
    /*{| max(80px, 4vw) |}*/
    height: 5vh;
    text-align: center;
    padding-top: 1vh;
    display: block;
}

.title > p{
    margin: 0;
    font-family: 'Noto Sans JP';
    font-size: 2vmin;
}

.StaffCard {

    /*{|  width: 10vw; |}*/
    width: max(100px, 10vw);
    height: 14vh;

    display: inline-block;

    margin-top: 5vh;

    background-color: rgb(141, 141, 141);
    border-radius: 10px;

    color: white;

    padding: 0;
    padding-top: 2vh;
    margin-right: 2vw;
    margin-bottom: 2vh;
    margin-left: 1vw;

    cursor: pointer;
}

.StaffCard > div{

    width: 50%;
    margin: 0 auto;

    width: max(80px, 4vw);
    height: 10vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
} /*{|  |}*/


.StaffCard > p {

    margin: 0;
    margin-left: 1vw;
    font-family: 'Poppins';
    font-size: max(10px, 1vmax);

}


/*{| STAFF |}*/



.e1 > div {
    background-image: url(./pics/Doemaarwa.png);
}
.e1 > p::after {
    content: 'Doemaarwa';
}

.e2 > div {
    background-image: url(./pics/Derpendkatje.png);
}
.e2 > p::after {
    content: 'Derpendkatje';
}

.e3 > div {
    background-image: url(./pics/Derpendevogel.png);
}
.e3 > p::after {
    content: 'Derpendevogel';
}

.e4 > div {
    background-image: url(./pics/boem231.png);
}
.e4 > p::after {
    content: 'Boem231';
}

.e5 > div {
    background-image: url(./pics/Kekieanu.png);
}
.e5 > p::after {
    content: 'Kekieanu';
}

.e6 > div {
    background-image: url(./pics/DqrkStar_.png);
}
.e6 > p::after {
    content: 'DqrkStar_';
}

.e7 > div {
    background-image: url(./pics/adidasryan.png);
}
.e7 > p::after {
    content: 'Adidasryan';
}

.e8 > div {
    background-image: url(./pics/nielsvb24.png);
}
.e8 > p::after {
    content: 'Nielsvb24';
}

.e9 > div {
    background-image: url(./pics/WouterUt.png);
}
.e9 > p::after {
    content: 'WouterUt';
}

.e10 > div {
    background-image: url(./pics/rick_gaming_nl.png);
}
.e10 > p::after {
    content: 'Rick_Gaming';
    margin-left: 0;
}

.e11 > div {
    background-image: url(./pics/DerpendeEevee.png);
}
.e11 > p::after {
    content: 'DerpendeEevee';
    margin-left: 0;
}