body {
    margin: 0;
    overflow-x: hidden;
}

@keyframes slideInFromTop {
    0% {
      left: 50%;
      transform: translate(-50%, -200%);
    }
    100% {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

.navbar {
    animation: 1s ease-out 0s 1 slideInFromTop;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(27, 27, 27);
    opacity: 0.85;
    color: white;
    position: fixed;
    width: 90vw;
    text-align: center;
    border-radius: 10px;
    margin-top: 0.5vh;
    font-size: large;
    display: flex;
    justify-content: space-around;
    transition: opacity 300ms linear, background-color 300ms linear;
    /*{| transition: top 300ms ease-out; |}*/
}

.navbar > div > p {
    font-family: 'Ubuntu';
    font-size: 2.5vmin;
}

.title {
    background-color: rgb(27, 27, 27);
    color: white;
    margin: 0;
    /*{| max(80px, 4vw) |}*/
    height: 5vh;
    text-align: center;
    padding-top: 1vh;
    display: block;
}

.title > p{
    margin: 0;
    font-family: 'Noto Sans JP';
    font-size: 2vmin;
}

.image {
    width: 100vw;
    height: 40vh;
    overflow: hidden;

    background-image: url(/pics/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.image > img {
    width: 100%;
}

.content {
    margin-top: 5vh;
    border-top: 5px dashed;
    border-bottom: 5px dashed;
    border-color: black;
    width: 100vw;
    min-height: 40vh;
    max-height: 46vh;
    font-size: x-large;
    padding-left: 2vw;
    overflow-y: scroll;
    overflow-x: hidden;

    background-image: url(/pics/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 

    color: rgb(216, 216, 216);
}

.content > p {
    font-family: 'Roboto';
    font-size: 3vmin;
}

.dc {
    background-image: url(./pics/3.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 

    margin-top: 5vh;
    
    border-top: 5px dashed;
    border-bottom: 5px dashed;
    border-color: rgba(255, 255, 255, 0.568);
    overflow-x: hidden;
    overflow-y: scroll;

    padding-top: 2vh;
    padding-left: 8vw;

    color: white;

    width: 100vw;
    height: 50vh;

    display: flex;
}

.dc > a {
    font-family: 'Roboto';
    font-size: 3vmin;

    cursor: pointer;
}

.dc > div {
    background-color: white;
    width: 45vw;
    height: 45vh;

    overflow-y: hidden;
    overflow-x: hidden;

    border-radius: 10px;

    margin-left: 5vw;

    color: black;
}

#dcWidget > div {
    display: flex;
}

.dcInfo > p {
    font-family: 'Lato';
    font-size: 2vmin;

    margin-left: 2vw;
}

.dcInfo {
    margin-top: 3vh;
}

#dcMotdImg {

    width: 6vmax;
    max-width: 6vmax;
    min-width: 6vmax;
    height: 6vmax;
    max-height: 6vmax;
    min-height: 6vmax;

    margin-right: 1vw;
    margin-top: 2vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 

    float: left;

    border-radius: 50%;
}

.dcMotdDiv > div {
    display: flex;
}

.dcMotdDiv > div > div {
    display: flex;
    flex-direction: column;
}

.dcMotdDiv > div > div > div > h3 {
    font-family: 'Raleway';
    font-size: 1.5vmax;
    font-weight: bold;
    margin-left: 0;
}

.dcMotdDiv > div > div > div  {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 15vw;
}

.dcMotdDiv > div > div > div > p {
    /*{| MOTD |}*/
    font-family: 'Raleway';
    font-size: 1.5vmax;
    margin-left: 0;
    margin-top: 0;
}

.dcMotdDiv > div > div > div {

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    margin-left: 1.5vw;

}

.dcMotdDiv {
    margin-left: 5vw;
    margin-top: 5vh;

    padding-top: 1vh;
    padding-bottom: 3vh;
    padding-right: 5vw;
    padding-left: 2vw;

    background-color: #2C2F33;
    color: #FFFFFF;
    /*
    height: 16vh;
    */
    width: 20vw;
    text-align: center;

    border-radius: 20px;

    transition: background-color 100ms linear;
}

.dcMotdDiv:hover {
    background-color: #23272A;
}

#dcName {
    font-family: 'Lato';
    font-size: 4vmin;

    margin-left: 2vw;
    margin-top: 2vh;
}

.StaffCard {

    /*{|  width: 10vw; |}*/
    width: max(100px, 10vw);
    height: 14vh;

    display: inline-block;

    background-color: rgb(141, 141, 141);
    border-radius: 10px;

    color: white;

    padding: 0;
    padding-top: 2vh;
    margin-right: 2vw;
    margin-bottom: 2vh;

    cursor: pointer;
}

.StaffCard > div{

    width: 50%;
    margin: 0 auto;

    width: max(80px, 4vw);
    height: 10vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
} /*{|  |}*/

.StaffCard > p {
    margin: 0;
    margin-left: 1vw;
    font-family: 'Poppins';
    font-size: max(10px, 1vmax);
}

.e5 > div {
    background-image: url(./Staff/pics/Kekieanu.png);
}
.e5 > p::after {
    content: 'Kekieanu';
}

.e6 > div {
    background-image: url(./Staff/pics/DqrkStar_.png);
}
.e6 > p::after {
    content: 'DqrkStar_';
}