body {
    margin: 0;
}

:root {
    --user-padding-top: 11vh;
    --user-height: 4vh;
    --image-size: 3vmax;
}

.navBar {
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 8vh;

    background-color: rgb(85, 85, 85);

    display: flex;
    justify-content: space-around;
}

.navBar > div {
    width: fit-content;
    height: 100%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.navBar p {
    margin: 0;
}

.forumButton {
    font-size: 3vmax;
    font-family: 'Roboto';

    color: white;
    cursor: pointer;
    user-select: none;
}

.infoBorder {
    width: 90vw;
    height: var(--user-height);

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: var(--user-padding-top);

    border: 2px solid black;
    border-left: none;

    font-family: 'Roboto';
    font-size: 2vmax;

    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.infoBorder p, .infoBorder input, .username {

    position: relative;

    margin: 0;

    width: fit-content;
    height: fit-content;

    display: inline-block;

}

.left {
    position: relative;
    
    height: var(--user-height);
    width: 40vw;

    padding-left: 2vw;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.right {
    position: relative;

    height: var(--user-height);
    width: 50vw;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}

.right > div {

    display: flex;
    justify-content: space-around;
    
}

.right > div > p, .right > div > input {
    font-family: 'Stint Ultra Expanded';
    font-size: 1.8vmax;
}

.image {
    position: fixed;
    left: calc(50% - 45vw);
    top: calc(var(--user-padding-top) + ((var(--user-height) + 2px) / 2) - (var(--image-size) / 2)); /* padding + (other.height / 2) - (this.height / 2) */
    transform: translateX(-50%);

    z-index: 10;

    width: var(--image-size);
    height: var(--image-size);

    margin: 0;

    display: inline-block;

    border-radius: 50%;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 

}

.tagg {

    position: relative;
    top: -0.35vh;

    display: inline-block;

    border-radius: 5px;

    padding: 0.3vmin;
    font-size: 1.5vmax;

}

#editIcon {
    
    position: fixed;
    left: calc(95vw - 1vmax);
    top: calc(var(--user-padding-top) - 1vmax);

    width: 2vmax;
    height: 2vmax;
    background-color: rgb(0, 122, 255);

    border-radius: 10px;

    display: flex;
    justify-content: space-around;

    cursor: pointer;

    transition: ease 0.5s width, ease 0.5s height, ease 0.5s top, ease 0.5s left;

    z-index: 10;

}

#editIcon > div {
    width: fit-content;
    height: 100%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

#editIcon > div > div {

    width: 1.3vmax;
    height: 1.3vmax;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    background-image: url(./pics/white_edit.png);

}

#deleteIcon {
    
    position: fixed;
    left: calc(92vw - 1vmax);
    top: calc(var(--user-padding-top) - 1vmax);

    width: 2vmax;
    height: 2vmax;
    background-color: rgb(255, 81, 0);

    border-radius: 10px;

    display: flex;
    justify-content: space-around;

    cursor: pointer;

    transition: ease 0.5s width, ease 0.5s height, ease 0.5s top, ease 0.5s left;

    z-index: 11;

}

#deleteIcon > div {
    width: fit-content;
    height: 100%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

#deleteIcon > div > div {

    width: 1.3vmax;
    height: 1.3vmax;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    background-image: url(/pics/Delete_Icon.png);

}

#avatarOverlay:hover {
    background-color: rgba(0, 0, 0, 0.582);
    z-index: 10;
}

#avatarOverlay {
    transition: 0.2s ease background-color;
    cursor: pointer;
}

#deletePrompt {
    z-index: 100;

    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: white;

    transition: 0.5s ease left;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#deletePrompt > div {
    height: fit-content;
    width: 100vw;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#deletePrompt > div > div > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 4vmax;

    width: fit-content;

    margin: 0;
    margin-bottom: 10vh;
}

#deletePrompt > div > div {
    width: 100vw;
    height: fit-content;

    display: flex;
    justify-content: space-around;
}

#deletePrompt > div > div > div {
    width: 5vw;
    height: 5vh;

    display: inline-flex;
    justify-content: space-around;

    border-radius: 5px;

    cursor: pointer;
}

#deleteNo {
    background-color: rgb(0, 255, 0);
}

#deleteYes {
    background-color: rgb(255, 0, 0);
}

#deletePrompt > div > div > div > div  {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#deletePrompt > div > div > div > div > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vmax;

    margin: 0;
}

#iframe {
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    pointer-events: none;
    user-select: none;

    border: none;
}
/*
#discordOverlay {
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.781);

    z-index: 110;

    display: flex;
    justify-content: space-around;
}

#discordOverlay > div {
    width: fit-content;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#discordOverlay > div > div {
    width: 35vw;
    height: 80vh;

    background-color: white;

    border: 3px solid black;
    border-radius: 100px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.horiCenter {
    display: flex;
    justify-content: space-around;
}

.discordPicture {
    background-image: url('/pics/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 7vmax;
    height: 7vmax;

    border-radius: 50%;

    margin-top: 4vh;
}

.horiCenter > p {
    margin-top: 3vh;

    font-family: 'Roboto';
    font-size: 1.5vmax;
}

.discordYesNoBox p {
    margin: 0;

    font-size: 2.5vmax;
    font-family: 'Roboto';
}

.discordYesNoBox a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.discordYesNoBox {
    width: 8vw;
    height: 6vh;

    display: flex;
    justify-content: space-around;

    cursor: pointer;
    user-select: none;

    border-radius: 10px;
}

.discordYesNoBox > div {
    width: fit-content;
    height: 100%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.yesNoBoxContainer {
    width: 100%;
    height: 40vh;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.yesBox {
    background-color: rgb(114, 137, 218);
}

.noBox {
    background-color: rgb(182, 182, 182);
}
*/

#changePassword {
    position: fixed;
    top: calc(3vh + var(--user-padding-top) + 3vh);
    left: 0;

    width: 100vw;
    height: 0vh;

    display: flex;
    justify-content: space-around;
}

#changePassword > div {
    width: 10vw;
    height: 4vh;

    background-color: rgb(134, 115, 115);
    border-radius: 5px;
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    cursor: pointer;
    user-select: none;

    transition: 0.5s ease width;
}

#changePassword > div > div {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-around;
}

#changePassword > div > div > p {
    color: white;
    margin: 0;

    font-family: 'Roboto';
    font-size: 1.5vmax;
}

#editPasswordPrompt {
    position: fixed;
    left: 0;
    top: 0;

    z-index: 100000;

    width: 100vw;
    height: 100vh;

    background-color: rgb(255, 255, 255);
    transition: 0.5s ease left;
}

.PasswdInputWrapper input {
    width: 20vw;
    height: 6vh;

    font-size: 1.5vmax;
}

.PasswdInputWrapper p {
    margin: 0;

    font-size: 1.4vmax;
    font-family: 'Roboto';
}

.PasswdInputWrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.passwordErrorMessage {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-around;
}

.passwordErrorMessage > p {
    font-size: 1vmax;
    font-family: 'Roboto';
    margin: 0;

    color: red;
}

#editPasswordPrompt > div > div > div {
    width: fit-content;
    height: 40vh;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#editPasswordPrompt > div {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-around;
}

#editPasswordPrompt > div > div {
    width: fit-content;
    height: 100%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.flexHori {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-around;
}

.flexHori p {
    margin: 0;
}

.flexHori > div {
    height: fit-content;
    width: fit-content;

    background-color: rgb(83, 83, 83);
    border-radius: 20px;
    color: white;
    padding: 1vmax;

    font-family: 'Roboto';
    font-size: 1.2vmax;

    cursor: pointer;
    user-select: none;
}